@media screen and (max-width: 1200px) {
    .navigation, .header-promo, .member, .domain, .packages, .about-us, .comments, .functions, .footer {
        padding: 0 15px;
    }
}

@media screen and (max-width: 815px) {
    .navigation .tab-nav {
    display: block;    
    }
    
    .navigation .desc-nav {
        display: none;
    }
}

@media screen and (max-width: 860px) {

    .domain span {
        display: none;
    }
    
    .domain select {
       min-width: 20%;
       padding-left: 10px;
    }
    
    .domain input[type="text"] {
       width: 70%;
    }

}