@media screen and (max-width: 860px) {

    .domain span {
        display: none;
    }
    
    .domain select {
       min-width: 20%;
       padding-left: 10px;
    }
    
    .domain input[type="text"] {
       width: 70%;
    }

}